  body{
    color: rgb(4, 3, 3);
    font-size: 60px;
    background-color:white;
    font-family: "Chakra Petch", sans-serif;
  }
 header{
    border-bottom: solid 5px gray;
    padding: 5px;
    font-size: 30px;
    font-style: bold;
    color: gray
 }
 img{
   width: 500px;
 }
section{
   background:white;
    padding-bottom: 80px;
    padding-top: 80px;
    
    
 }
 .historia{
   color: black;
   font-size: 25px;
   display: flex;
   
 }
 .historia2{
  font-size: 25px;
 }
 .carros{
  text-align: center;
 }
 .nissanZ{
  font-size: 25px;
  text-align: center;
 }
 .carros2{
  text-align: center;
 }
 .silvias15{
  text-align: center;
  font-size: 25px;
 }
 .carros3{
  text-align: center;
 }
 .gtrR34{
  text-align: center;
  font-size: 25px;
 }